
.Suggest {
  border: solid 1px#ddd;
  border-radius: 4px;
  margin-bottom: 20px;
}

.Suggest .card-header {
  text-align: center;
  padding: 10px 15px;
}

.Suggest .card-body {
  padding-left: 16px;
}

.Suggest .form-row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.Suggest .form-label {
  font-weight: 700;
}

.Suggest #input-zipcode {
  margin-right: 16px;
}


/* @media screen and (min-width: 425px) {
  #input-city {
    margin-left: 16px;
  }
} */
