
.Suggest {
  border: solid 1px#ddd;
  border-radius: 4px;
  margin-bottom: 20px;
  margin-top: 24px;
}

.Suggest .card-header {
  text-align: center;
  padding: 10px 15px;
}

.Suggest .card-body {
  padding-left: 16px;
}

.Suggest .card-body p {
  margin: 0px;
}

.Suggest .form-row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.Suggest .form-label {
  font-weight: 700;
}

#input-zipcode {
  margin-right: 16px;
}

@media screen and (max-width: 425px) {

  .Suggest-container {
    padding: 0px;
  }

  .Suggest-container button {
    margin-right: 15px !important;
  }

  .Suggest {
    border-radius: 0px;
    margin-top: 0px;
  }

  input[type=file] {
    font-size: 0.8em;
  }

}