.form-row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

#input-zipcode {
  margin-right: 16px;
}

/* @media screen and (min-width: 425px) {
  #input-city {
    margin-left: 16px;
  }
} */
