
#Infos-pic {
  height: 400px;
  width: 320px;
  /* width: 100%;
  height: 100%; */
  /* position: relative; */
  background: transparent no repeat center;
  background-size: cover;
  background-position: 50% 70%;
}

/* #Infos-pic-header {
  height: 400px;
} */

#Infos-address {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Infos-box {
  padding: 16px;
  border-bottom: 1px solid #f2f2f2;
}

.Infos-box p {
  margin: 0px;
}

.Infos-box:last-child {
  border-bottom: 0;
}

.Action-button-zoom {
  position: absolute;
  right:10px;
  bottom: 10px;
}

/* .Action-button-zoom .btn:hover {
    color: black;
} */