#Exp-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#Exp-wrapper > header {
  height: 98px;
  text-align: center;
}

#Exp-wrapper > footer {
  height: 64px;
}

#Exp-wrapper > main {
  flex: 1;
}

#Exp-wrapper .container-fluid{
  height: 100%;
}

#Exp-wrapper .container-fluid .row{
  height: 100%;
}

#Exp-wrapper .container-fluid .row > div{
  margin:auto;
}

#Exp-wrapper .container-fluid .row H1{
  text-align: left;
}

@media screen and (max-width: 425px) {
  #Exp-wrapper .container-fluid .row H1{
    text-align: center;
  }
}