.left-xs {
  margin-left: 5px;
}

.left-sm {
  margin-left: 10px;
}

.left-lg {
  margin-left: 24px;
}

.right-xs {
  margin-right: 5px;
}

.right-sm {
  margin-right: 10px;
}

.right-lg {
  margin-right: 24px;
}

.down-xs {
  margin-top: 5px;
}

.down-md {
  margin-top: 10px;
}

.down-lg {
  margin-top: 24px;
}

.up-xs {
  margin-bottom: 5px;
}

.up-md {
  margin-bottom: 10px;
}

.up-lg {
  margin-bottom: 24px;
}

.main-color {
  color: #f26456;
}

h1 {
  font-size: 35px;
  font-weight: 400;
}

h2 {
  font-size: 20px;
  font-weight: 400;
}

h3 {
  font-size: 15px;
  font-weight: 400;
}

.box {
  padding: 16px;
  border-bottom: 1px solid #f2f2f2;
}

.box:last-child {
  border-bottom: 0;
}

.slide-pane__overlay {
  z-index: 1000;
}

.slide-pane__header {
  background-color: white !important;
}

.slide-pane__content {
  padding: 0px !important;
}

.slide-pane__title-wrapper {
  margin-left: 0px !important;
}

.slide-pane__close {
  margin-left: 0px !important;
}
