.Signin {
  border: solid 1px#ddd;
  border-radius: 4px;
  margin-bottom: 20px;
}

.Signin .card-header {
  text-align: center;
  padding: 10px 15px;
}

.Signin .card-body {
  padding-left: 16px;
}

.Signin .form-row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.Signin .form-label {
  font-weight: 700;
}